@media screen and (max-width: 1701px) {
  .what-makes-us-figure {
    margin-left: -43% !important;
  }
}

@media screen and (max-width: 1560px) {
  .what-makes-us-figure {
    margin-left: -47% !important;
  }
}

@media screen and (max-width: 1441px) {
  .what-makes-us-figure {
    margin-left: -51% !important;
  }
}

@media screen and (max-width: 1360px) {
  .what-makes-us-figure {
    width: 1900px !important;
    margin-left: -49% !important;
  }
}

@media screen and (max-width: 1200px) {
  .what-makes-us-figure {
    margin-left: -54% !important;
    margin-top: 800px !important;
  }

  .about-us-figure {
    margin-top: -165px !important;
  }
}

@media screen and (max-width: 1125px) {
  .what-makes-us-figure {
    margin-left: -60% !important;
  }
}

@media screen and (max-width: 1025px) {
  .what-makes-us-figure {
    width: 1600px !important;
    height: 600px !important;
    margin-left: -53% !important;
    margin-top: 700px !important;
  }

  .about-us-figure {
    margin-top: -80px !important;
  }
}

@media screen and (max-width: 951px) {
  .what-makes-us-figure {
    margin-left: -57% !important;
  }
}

@media screen and (max-width: 900px) {
  .what-makes-us-figure {
    width: 1600px !important;
    height: 700px !important;
    margin-left: -62% !important;
    margin-top: 650px !important;
  }

  .about-us-figure {
    margin-top: -135px !important;
  }
}

@media screen and (max-width: 841px) {
  .what-makes-us-figure {
    margin-left: -67% !important;
  }
}

@media screen and (max-width: 801px) {
  .what-makes-us-figure {
    margin-left: -72% !important;
  }
}

@media screen and (max-width: 769px) {
  .what-makes-us-figure {
    width: 1400px !important;
    margin-left: -63% !important;
  }
}

@media screen and (max-width: 721px) {
  .what-makes-us-figure {
    margin-left: -68% !important;
  }
}

@media screen and (max-width: 691px) {
  .what-makes-us-figure {
    margin-left: -72% !important;
  }
}

@media screen and (max-width: 651px) {
  .what-makes-us-figure {
    margin-left: -75% !important;
  }
}

@media screen and (max-width: 631px) {
  .what-makes-us-figure {
    width: 1220px !important;
    height: 700px !important;
    margin-left: -77% !important;
    margin-top: 650px !important;
  }

  .about-us-figure {
    margin-top: -105px !important;
  }
}

@media screen and (max-width: 600px) {
  .what-makes-us-figure {
    width: 1300px !important;
    margin-left: -87% !important;
  }
}

@media screen and (max-width: 561px) {
  .what-makes-us-figure {
    margin-left: -94% !important;
  }
}

@media screen and (max-width: 531px) {
  .what-makes-us-figure {
    margin-left: -100% !important;
  }
}

@media screen and (max-width: 491px) {
  .what-makes-us-figure {
    width: 1200px !important;
    margin-left: -99% !important;
  }
}

@media screen and (max-width: 461px) {
  .what-makes-us-figure {
    width: 1100px !important;
    margin-left: -99% !important;
  }
}

@media screen and (max-width: 426px) {
  .what-makes-us-figure {
    width: 900px !important;
    height: 600px !important;
    margin-left: -84% !important;
  }
}

@media screen and (max-width: 401px) {
  .what-makes-us-figure {
    margin-left: -92% !important;
  }
}

@media screen and (max-width: 376px) {
  .what-makes-us-figure {
    margin-left: -100% !important;
  }
}

@media screen and (max-width: 341px) {
  .what-makes-us-figure {
    width: 800px !important;
    margin-left: -96% !important;
  }
}
