/* Media queris */
@media screen and (max-width: 1840px) {
  .our-services-heading {
    margin-left: 45% !important;
  }

  .services-heading {
    margin-left: 45% !important;
  }
}

@media screen and (max-width: 1700px) {
  .our-services-heading {
    margin-left: 41% !important;
  }

  .services-heading {
    margin-left: 41% !important;
  }
}

@media screen and (max-width: 1541px) {
  .our-services-heading {
    margin-left: 35% !important;
  }

  .services-heading {
    margin-left: 36% !important;
  }
}

@media screen and (max-width: 1441px) {
  .our-services-heading {
    margin-left: 32% !important;
  }

  .services-heading {
    margin-left: 33% !important;
  }
}

@media screen and (max-width: 1370px) {
  .our-services-heading {
    margin-left: 29% !important;
  }

  .services-heading {
    margin-left: 30% !important;
  }
}

@media screen and (max-width: 1300px) {
  .our-services-heading {
    margin-left: 25% !important;
  }

  .services-heading {
    margin-left: 26% !important;
  }
}

@media screen and (max-width: 1200px) {
  .our-services-heading {
    margin-left: 20% !important;
  }

  .services-heading {
    margin-left: 20% !important;
  }
}

@media screen and (max-width: 1150px) {
  .our-services-heading {
    margin-left: 18% !important;
  }

  .services-heading {
    margin-left: 15% !important;
  }
}

@media screen and (max-width: 1060px) {
  .our-services-heading {
    margin-left: 13% !important;
  }

  .services-heading {
    margin-left: 11% !important;
  }
}

@media screen and (max-width: 1025px) {
  .our-services-heading {
    margin-left: 18% !important;
    margin-top: -300px !important;
  }

  .services-heading {
    margin-left: 18% !important;
    margin-top: -297px !important;
  }
}

@media screen and (max-width: 980px) {
  .our-services-heading {
    margin-left: 30% !important;
  }

  .services-heading {
    margin-left: 29% !important;
  }
}

@media screen and (max-width: 930px) {
  .our-services-heading {
    margin-left: 25% !important;
  }

  .services-heading {
    margin-left: 25% !important;
  }
}

@media screen and (max-width: 900px) {
  .our-services-heading {
    margin-left: 22% !important;
  }

  .services-heading {
    margin-left: 21% !important;
  }
}

@media screen and (max-width: 769px) {
  .our-services-heading {
    margin-left: 20% !important;
    margin-top: -295px !important;
  }
}

@media screen and (max-width: 710px) {
  .our-services-heading {
    margin-left: 23% !important;
  }
}

@media screen and (max-width: 610px) {
  .our-services-heading {
    margin-left: 19% !important;
  }
}

@media screen and (max-width: 540px) {
  .our-services-heading {
    margin-left: 30% !important;
  }

  .services-heading {
    margin-left: 30% !important;
  }
}

@media screen and (max-width: 490px) {
  .our-services-heading {
    margin-left: 22% !important;
  }
}

@media screen and (max-width: 426px) {
  .our-services-heading {
    margin-top: -212px !important;
  }

  .services-heading {
    margin-left: 23% !important;
    margin-top: -212px !important;
  }
}
